{% extends 'Login/login.html.twig' %}
{% block login_form %}
    <form action="{% block check_url %}{{ url('forgot_password') }}{% endblock %}" method="POST" class="margin-bottom-0">
        <h4 class="text-white">{{ 'simpleuser.login.forgot.title'|trans }}</h4>
        <div class="form-group m-b-20">
            <input type="text" class="form-control input-lg" placeholder="{{ 'simpleuser.label.email_address'|trans }}" name="_username" />
        </div>
        <div class="login-buttons">
            <button type="submit" class="btn btn-success btn-block btn-lg">{{ 'simpleuser.login.forgot.button'|trans }}</button>
        </div>
        <div class="form-group m-t-20">
            <p>{{ 'simpleuser.login.forgot.message'|trans }}</p>
        </div>
    </form>
{% endblock %}
