{% extends '@NSAdmin/list.html.twig' %}

{% block model_create_icon %}user-plus{% endblock %}

{% block list_column_headers %}
    <th></th>
    <th>{{ 'simpleuser.label.name'|trans }}</th>
    <th>{{ 'simpleuser.label.email'|trans }}</th>
{% endblock %}

{% block list_row %}
    <td>{% if item.hasRole('ROLE_SUPER_ADMIN') %}<i class="fa fa-user-cog text-danger" title="System Administrator"></i>{% endif %}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.email }}</td>
{% endblock %}

{% block delete_button %}
    {% if is_granted('ROLE_SUPER_ADMIN') and item.id != app.user.id %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block edit_button %}
    {% if is_granted('ROLE_SUPER_ADMIN') or item.id == app.user.id %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block create_button %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block extra_actions %}
    {% if is_granted('ROLE_SUPER_ADMIN') or item.id == app.user.id %}
        <a class="btn btn-sm btn-success ns-confirm" data-confirm-message="{{ 'simpleuser.welcome.confirm'|trans }}" data-confirm-type="success"
           href="{{ path('admin_password_reset', {'id':item.id}) }}"><i class="fa fa-door-open"></i> {{ 'simpleuser.welcome.send'|trans }}</a>
    {% endif %}
{% endblock %}
